@charset "utf-8";
html {
  text-rendering: optimizeLegibility !important;
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  color: #000;
  background: transparent;
  text-rendering: optimizeLegibility;
}
.pc {
  display: block;
}
.sp {
  display: none;
}
.tel {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .tel {
    pointer-events: auto;
  }
}
/* ===============================
Text align
=============================== */
.txt-left {
  text-align: left;
}
.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .txt-left-sp {
    text-align: left;
  }
  .txt-center-sp {
    text-align: center;
  }
  .txt-right-sp {
    text-align: right;
  }
}
/* ===============================
Color
=============================== */
.main-color {
  color: #000;
}
.sub-color {
  color: #24140e;
}
.b-color {
  color: #000;
}
.w-color {
  color: #fff;
}
/* ===============================
Background Color
=============================== */
.bg-main {
  background: #900;
}
.bg-sub {
  /* background: #000; */
}
.bg-b {
  background: #000;
}
.bg-w {
  background: #fff;
}
.bg-gray {
  background: #f1f1f1;
}

/* ===============================
FOOTER
=============================== */

.footer-wrapper {
  background-color: #7a7a7a;
  position: relative;
}
.footer {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 20px;
}
.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-contact-btn {
  background-color: #feca01;
  height: 40px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: solid 2px #fff;
}
.ftr-content-ctnr {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.ftr-topic {
  flex: 0 1 200px;
}
.ftr-topic h4 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}
.ftr-topic p {
  text-align: center;
  font-size: calc(10 / 16 * 1rem);
  font-weight: 700;
  color: #fff;
}
.ftr-topic .hor-line {
  height: 3px;
  max-width: 860px;
  width: 100%;
  background-color: #fff;
  margin: 10px 0;
}
.ftr-topic-options p {
  margin-bottom: 10px;
  text-align: start;
  padding-left: 18px;
  position: relative;
}
.ftr-topic-options p::before {
  content: "";
  background-image: url(../images/footer/right_arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 8px;
  width: 10px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.sp-btn {
  display: none;
}
@media screen and (max-width: 480px) {
  .ftr-content-ctnr {
    flex-direction: column;
  }
  .ftr-topic {
    max-width: 200px;
    width: 100%;
    flex: unset;
  }
  .pc-btn {
    display: none;
  }
  .sp-btn {
    display: flex;
  }
}

.back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 100px;
  z-index: 1000;
  background-color: #000;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-back-to-top {
  display: none;
}
.above-footer {
  position: absolute;
  top: -90px;
}
.back-to-top-btn p {
  display: none;
  color: #fff;
  padding-top: 5px;
  font-size: calc(10 / 16 * 1rem);
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .back-to-top-btn {
    right: 30px;
    transform: translateY(-50%);
    justify-content: end;
    padding-bottom: 15px;
    height: 70px;
    width: 70px;
  }
  .above-footer {
    top: 0;
  }
  .back-to-top-btn img {
    height: 10px;
  }
  .back-to-top-btn p {
    display: block;
  }
}
