@charset "utf-8";
.top-page-hambg {
  position: absolute;
  right: 15px;
  top: 26px;
  height: 9px;
}
.top-page-hambg * {
  background-color: #000;
}
.top-ctnr {
  max-width: 1280px;
  height: 720px;
  margin: 0 auto;
  height: 720px;
  position: relative;
}
.side-header {
  top: 0;
  left: 0;
  max-width: 400px;
  width: 100%;
  height: 100%;
  padding-top: 45px;
  padding-bottom: 230px;
  background-color: #f5f5f5;
  padding-left: 88px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border-bottom-right-radius: 10px;
}
.side-header > a > img {
  max-height: 40px;
  object-fit: contain;
}
.menu {
  margin-top: 36px;
}
.menu h3 {
  font-size: 1.25rem;
  font-weight: 700;
}
.menu p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: calc(10 / 16 * 1rem);
  margin-top: 10px;
}
.menu-plus {
  position: relative;
  width: 100%;
  z-index: 2;
}
.menu-plus h3 {
  position: relative;
}

.menu-plus h3::after {
  content: "";
  background-image: url(../images/index/menu_plus.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 25%;
  left: calc(100% + 4px);
  height: 16px;
  z-index: 1;
  padding-right: 50px;
}

.menu-plus .triangle-b4-dropdown {
  display: none;
  position: absolute;
  left: calc(100% + 20px);
  top: 0;
  width: 30px;
}
.menu-plus:hover .triangle-b4-dropdown {
  display: block;
}
.menu-plus:hover .service-dropdown {
  display: grid;
}
.menu-plus .service-dropdown {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 40px);
  padding: 40px 90px;
  max-width: 860px;

  background-color: #fff;
  border-radius: 20px;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: start;
  justify-content: center;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
}
.service-dropdown-card {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-dropdown-card .icon-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}
.service-dropdown-card .icon-group .circle {
  position: absolute;
}
.service-dropdown-card .icon-group .icon {
  position: absolute;
  max-height: 42px;
}
.service-dropdown-card p {
  margin-top: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: calc(14 / 16 * 1rem);
  line-height: 1.5;
  color: #000;
}
.service-dropdown-card .off-text {
  margin-top: 0;
}

@media screen and (max-width: 1120px) {
  .menu-plus .service-dropdown {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .side-header > a > img {
    max-height: 24px;
  }
}

/* TOP SLIDER SECTION */
.top-slider {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 75%;
  z-index: 1;
}
.top-slider .slick-arrow {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  border: solid 2px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-slider .slick-next {
  right: 20px;
  top: 65%;
  z-index: 1;
}
.top-slider .slick-prev {
  left: 20px;
  top: 65%;
  z-index: 1;
}
.top-slider .slick-prev::before {
  transform: rotate(180deg);
}
.top-slider .slick-dots {
  position: unset;
  margin-top: 14px;
}
.top-slider .slick-active button {
  height: 24px;
  width: 24px;
  border: solid 2px #fbca00;
  border-radius: 50%;
  position: relative;
}
.top-slider .slick-dots button::before {
  content: "";
  height: 12px;
  width: 12px;
  background-color: #7a7a7a;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-slider .slick-active button::before {
  background-color: #fbca00;
}
.top-slide {
  position: relative;
  height: 550px;
  border-bottom-left-radius: 10px;
}
.top-slide-blue {
  background-color: #3156df;
}
.top-slide-pale {
  background-color: #ffe995;
}
.top-slide-yellow {
  background-color: #ffcd0d;
}
.top-bg {
  position: absolute;
  top: 0;
  bottom: 0;
}
.world-map {
  position: absolute;
  right: 0;
  top: 100px;
  max-height: 350px;
  height: 100%;
  max-width: 700px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .side-header {
    max-width: 260px;
    padding-left: 44px;
  }
}
@media screen and (max-width: 768px) {
  .top-slider {
    top: 60px;
  }
  .top-slide {
    border-top-left-radius: 10px;
    height: 534px;
  }
  .side-header-container {
    display: none;
  }
  .top-slider {
    width: 92%;
  }
}
@media screen and (max-width: 768px) {
  .side-header {
    max-width: 120px;
    padding: 18px 0 0 15px;
  }
}

/* TOP SLIDER CONTENT */
.top-slider-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  z-index: 11;
  padding: 112px 25px 0;
}
.top-left-container {
  display: flex;
  flex-direction: column;
  max-width: 330px;
}
.top-left-container > h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  color: #fff;
  font-weight: 700;
  z-index: 1;
}
.top-left-ctnr-sl2 > h2 {
  color: #000;
}
.top-left-container > h4 {
  margin: 25px 0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: calc(14 / 16 * 1rem);
  color: #fff;
  font-weight: 600;
  line-height: 1.5;
  z-index: 1;
}
.top-left-ctnr-sl2 > h4 {
  color: #000;
}
.top-left-ctnr-sl3 > h4 {
  color: #000;
}
.upper-button {
  margin: 9px 0;
  height: 50px;
  border-radius: 25px;
  background-color: #fbca00;
  border: none;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: calc(14 / 16 * 1rem);
  color: #000;
  font-weight: 600;
  padding-left: 20px;
}
.upper-btn-slide2 {
  background-color: #182dd7;
  color: #fff;
}
.upper-btn-slide3 {
  background-color: #fff;
}
.lower-button {
  margin: 6px 0;
  border-radius: 25px;
  background-color: #000;
  border: none;
  padding: 15px 10px;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: calc(14 / 16 * 1rem);
  color: #ffffff;
  font-weight: 600;
  padding-left: 20px;
}
.upper-button::after,
.lower-button::after {
  content: "";
  background-image: url(../images/index/circle_arrow_icon.png);
  background-size: contain;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.upper-btn-slide2::after {
  filter: invert(1);
}
.lower-button::after {
  filter: invert(1);
}
.triangle-route {
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .top-slider-content-container {
    gap: 28px;
  }
  .triangle-route {
    max-width: 262px;
  }
}
@media screen and (max-width: 768px) {
  .top-slider-content-container {
    flex-direction: column;
    padding: 32px 25px 36px;
    gap: 24px;
  }
  .triangle-route {
    max-width: 262px;
  }
  .service-top-left-container > h4 {
    margin: 25px 0 12px;
  }
  .top-left-container .upper-button,
  .top-left-container .lower-button {
    display: none;
  }
  .top-slider-btns {
    display: flex;
    gap: 15px;
    max-width: 400px;
    width: 100%;
  }
  .top-slider-btns .upper-button,
  .top-slider-btns .lower-button {
    width: 100%;
  }
}

/* DISOUNT CARDS SECTION */
.discount-cards-slider {
  max-width: 1020px;
  margin: 0 auto;
  padding: 100px 20px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.discount-cards-slider .slick-track {
  display: flex;
  gap: 40px;
}

.discount-cards-slider .slick-arrow::before {
  color: transparent;
  background-image: url(../images/index/discount/right_arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 8px;
  width: 11px;
  display: block;
}
.discount-card {
  width: 300px;
}

.discount-cards-slider .slick-arrow {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  border: solid 2px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount-cards-slider .slick-next {
  right: 20px;
  top: 65%;
  z-index: 1;
}
.discount-cards-slider .slick-prev {
  left: 20px;
  top: 65%;
  z-index: 1;
}
.discount-cards-slider .slick-prev::before {
  transform: rotate(180deg);
}
.discount-cards-slider .slick-dots {
  bottom: -39px;
}
.discount-cards-slider .slick-dots button::before {
  content: "";
  height: 12px;
  width: 12px;
  background-color: #7a7a7a;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.discount-cards-slider .slick-active button {
  height: 24px;
  width: 24px;
  border: solid 2px #fbca00;
  border-radius: 50%;
  position: relative;
}
.discount-cards-slider .slick-active button::before {
  background-color: #fbca00;
}
@media screen and (max-width: 900px) {
  .discount-cards-slider {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .discount-cards-slider {
    padding: 80px 0 0;
  }
  .discount-cards-slider .slick-track {
    gap: 20px;
  }
}

/* HOME SERVICE SECTION */
.hm-service-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 20px;
}
.hm-service-section > h2 {
  font-family: "europa", sans-serif;
  font-size: 5rem;
  color: #fbca00;
  font-weight: 700;
  display: inline-block;
  margin-right: 20px;
}
.hm-service-section > h4 {
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.hm-service-section .hor-line {
  height: 3px;
  max-width: 860px;
  width: 100%;
  background-color: #fbca00;
  margin: 45px auto 40px;
}
.hm-service-ctnr {
  max-width: 900px;
  margin: 0 auto;
}
.hm-service-tabs-ctnr {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@keyframes floatUp {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0px);
  }
}
.service-tab {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 12px;
  background-color: #fff;
  border: solid 2px #ffea99;
  border-radius: 10px;
  padding: 20px 22px;
  color: #fbca00;

  font-size: 1.25rem;
  font-weight: 700;
  position: relative;
  letter-spacing: 0;
}
.service-tab > img {
  max-height: 40px;
}
.service-tab::after {
  opacity: 0;
  content: "";
  background-image: url(../images/index/triangle_for_hmservice.png);
  background-size: contain;
  width: 20px;
  height: 24px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.chosen-tab {
  background-color: #fbca00;
  color: #000;
}
.chosen-tab::after {
  opacity: 1;
}
.chosen-tab > img {
  filter: brightness(0);
}
/* SERVICE TAB CONTENT */
.hm-service-content-ctnr {
  background-color: #fbca00;
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
  margin-top: 40px;
  border-radius: 10px;
}
.content-active {
  display: grid;
  animation: floatUp 0.9s ease;
}
.hm-service-card {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  width: 100%;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
}
.hm-service-card .icon-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}
.hm-service-card .icon-group .circle {
  position: absolute;
}
.hm-service-card .icon-group .icon {
  position: absolute;
  max-height: 42px;
}
.hm-service-card p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  line-height: calc((7.5 / 16) + 1);
}
@media screen and (max-width: 855px) {
  .hm-service-card .icon-group {
    width: 60px;
    height: 60px;
  }
  .hm-service-card .icon-group .icon {
    max-height: 30px;
  }
}
@media screen and (max-width: 768px) {
  .service-tab {
    justify-content: center;
    padding: 11px 13px;
  }
  .hm-service-section {
    padding: 71px 20px;
  }
  .hm-service-section > h2 {
    font-size: 2.5rem;
    margin-right: 10px;
  }
  .service-tab > img {
    display: none;
  }
  .hm-service-card {
    padding: 15px;
  }
  .hm-service-content-ctnr {
    grid-template-columns: 1fr;
    padding: 30px;
    margin-top: 28px;
  }
  .hm-service-section .hor-line {
    margin: 21px 0 24px;
  }
}
@media screen and (max-width: 480px) {
  .hm-service-content-ctnr {
    padding: 24px 10px;
  }

  .service-tab {
    padding: 11px 15px;
    font-size: calc(14 / 16 * 1rem);
  }
}

/* HOME ABOUT SECTION */
.hm-about-section-wrapper {
  background-color: #f5f5f5;
  padding: 100px 20px 90px;
}
.hm-about-article {
  max-width: 860px;
  margin: 0 auto;
}
.hm-about-article > h2 {
  font-family: "europa", sans-serif;
  font-size: 5rem;
  color: #fbca00;
  font-weight: 700;
  display: inline-block;
  margin-right: 20px;
}
.hm-about-article > h4 {
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.hm-about-article .hor-line {
  height: 3px;
  background-color: #7a7a7a;
  margin: 45px auto 40px;
}

.hm-about-img > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.hm-about-mainpara {
  font-size: 0.875rem;
  line-height: 2;
  margin-top: 40px;
  letter-spacing: 0;
}
.hm-about-mainpara span {
  font-family: "europa", sans-serif;
}
@media screen and (max-width: 768px) {
  .hm-about-section-wrapper {
    padding: 71px 15px 80px;
  }
  .hm-about-article > h2 {
    font-size: 2.5rem;
  }
  .hm-about-article {
  }
  .hm-about-article .hor-line {
    margin: 21px 0 24px;
  }
}

/* HOME > ABOUT SECTION > NUMBER ARTICLE */
.hm-numbers-article {
  max-width: 900px;
  margin: 0 auto;
  padding: 71px 0 0;
}
.hm-numbers-article > h2 {
  font-size: 2.5rem;
  color: #7a7a7a;
  font-weight: 700;
  display: inline-block;
  margin-right: 20px;
}
.hm-numbers-article > h4 {
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.hm-numbers-article .msg {
  display: inline-block;
  margin-right: 5px;
}
.hm-num-cards {
  margin-top: 40px;
}
.hm-num-cards-top {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 30px;
}
.first-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.second-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  margin-top: 10px;
}
.hm-num-card {
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  width: 100%;
}
.hm-num-card-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 240px;
  padding: 15px;
}
.hm-num-card-badge {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #feca00;
  width: 165px;
  padding: 13px 0;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
}
.hm-num-card .icons-ctnr {
  display: flex;
  gap: 7px;
}
.hm-num-card-contents img {
  padding-bottom: 10px;
  max-height: 55px;
}
.hm-num-card-contents > h2 {
  font-size: 5rem;
  color: #feca00;
  font-weight: 700;
}
.hm-num-card-contents > h2 > span {
  font-size: 1.25rem;
}
.hm-num-card-contents > p {
  font-weight: 600;
}
.hm-num-card .smaller-icons img {
  max-height: 35px;
}
.couple-card {
  gap: 10px;
  background-color: #fff;
  border-radius: 10px;
}
.hm-couple-card-ctnr {
  display: flex;
  align-items: center;
  justify-content: center;
}
.couple-card-first {
  grid-column: 1 / span 2;
}
.couple-card-second {
  grid-column: 1 / span 2;
}
.couple-card-last {
  grid-column: 3;
  grid-row: 3 / span 2;
}
.couple-card .ver-dotted-line {
  height: 80%;
}
.couple-card .hor-dotted-line {
  width: 80%;
  margin: 0 auto;
}
.couple-card-last > img {
}
.couple-card .hm-num-card-badge {
  z-index: 2;
}
.icon-n-year {
  display: flex;
  align-items: center;
}
.icon-n-year > h2 {
  font-size: 3.13rem;
  color: #feca00;
  font-weight: 700;
}
.icon-n-year > h2 > span {
  font-size: 1.25rem;
}
.couple-card-right {
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.card-right-ctnr > p {
  padding-bottom: 12px;
}
.couple-card-right p {
  margin: 0;
  font-weight: 600;
}
.couple-card-right img {
  max-height: 35px;
  padding-right: 12px;
}

.stats-card img {
  max-height: 100%;
  height: 100%;
  object-fit: contain;
}

.couple-ver-card {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
}
.ver-hor-line {
  width: 100%;
  height: 2px;
}
.couple-card-last .couple-ring {
  width: 160px;
  max-height: 160px;
}
.last-section {
  padding-top: 70px;
}
@media screen and (max-width: 860px) {
  .hm-num-card-contents > h2 {
    font-size: 3.75rem;
  }
  .hm-num-card-contents img {
    max-height: 40px;
  }
  .stats-card img {
    max-height: 100%;
  }
  .stats-bar h4 {
    font-size: 15px;
  }
  .first-stats-bar h4 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .hm-numbers-article > h2 {
    font-size: calc(30 / 16 * 1rem);
    margin-right: 10px;
  }
  .hm-numbers-article > h4 {
    margin-top: 10px;
  }

  .hm-couple-card-ctnr {
    height: 142px;
  }
  .hm-num-card-contents {
    height: 142px;
    gap: 12px;
  }
  .hm-num-card-contents img {
    padding-bottom: 5px;
  }
  .hm-num-card-badge {
    padding: 8px 0;
  }
  .hm-num-card-contents > h2 > span {
    font-size: 0.875rem;
  }
  .card-right-ctnr {
    gap: 8px;
  }
  .hm-num-card-contents > h2 {
    font-size: 2.5rem;
  }
  .hm-num-card-contents .smaller-icons img {
    max-height: 24px;
    padding-bottom: 0;
    padding-right: 5px;
  }
  .couple-card-right h2 {
    font-size: 1.87rem;
  }

  .moving-cell img {
    max-height: 24px;
  }
  .couple-card-last .couple-ring {
    width: 120px;
    max-height: 120px;
  }
  .card-right-ctnr > p {
    padding-bottom: 8px;
  }
}
@media screen and (max-width: 700px) {
  .moving-cell {
    grid-column: 2;
    grid-row: 2;
  }
  .hm-numbers-article {
    max-width: 570px;
    margin: 0 auto;
  }
  .first-row {
    grid-template-columns: 1fr 1fr;
  }
  .second-row {
    grid-template-columns: 1fr;
  }
  .hm-num-cards-bottom {
    grid-template-columns: 1fr;
  }
  .couple-card-last {
    grid-column: 2;
    grid-row: 5 / span 2;
  }
  .stats-card {
    grid-row: 6;
    grid-column: 1;
  }
}
@media screen and (max-width: 480px) {
  .hm-num-card-badge {
    max-width: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: unset;
  }

  .couple-card .hm-num-card-badge {
    max-width: 100%;
    width: 100%;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: unset;
  }

  .stats-bar .ver-bar {
    max-width: 16px;
  }
  .stats-bar p {
    font-size: 10px;
  }
}

/* HOME > ABOUT SECTION > MEMBER ARTICLE */
.hm-member-article {
  max-width: 900px;
  margin: 0 auto;
  padding: 71px 20px 0;
}
.hm-member-article > h2 {
  font-family: "europa", sans-serif;
  font-size: 2.5rem;
  color: #7a7a7a;
  font-weight: 700;
  display: inline-block;
  margin-right: 20px;
}
.hm-member-article > h4 {
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.hm-member-article .msg {
  display: inline-block;
}

.hm-member-profile-ctnr {
  display: flex;
  max-width: 420px;
  gap: 20px;
}
.member-profile-img {
  padding: 40px 0 10px;
}

.member-profile .job-title {
  font-size: 0.875rem;
  font-weight: 700;
}
.member-profile > p {
  margin-top: 10px;
}
.member-profile .job-title span {
  font-size: calc(15 / 16 * 1rem);
}
.member-profile .name-jp {
  font-weight: 700;
}
.member-profile .name-eng {
  font-family: "europa", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: #7a7a7a;
}
@media screen and (max-width: 768px) {
  .hm-member-article > h2 {
    font-size: 1.87rem;
  }
  .hm-member-article > h4 {
    margin-top: 10px;
  }
}

/* HOME > ABOUT SECTION > OUTLINE ARTICLE */
.hm-outline-article {
  max-width: 900px;
  margin: 0 auto;
  padding: 71px 20px 0;
}
.hm-outline-article > h2 {
  font-family: "europa", sans-serif;
  font-size: 2.5rem;
  color: #7a7a7a;
  font-weight: 700;
  display: inline-block;
  margin-right: 20px;
}
.hm-outline-article > h4 {
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.hm-outline-article .msg {
  display: inline-block;
}
.hm-outline-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 40px;
  row-gap: 10px;
}
.hm-outline-grid > p {
  padding: 18px 0;
  text-align: center;
  font-weight: 600;
  line-height: 1.65;
  background-color: #fff;
  border-radius: 10px;
}
.hm-outline-grid > p > span {
  font-family: "europa", sans-serif;
  font-size: calc(17 / 16 * 1rem);
  font-weight: 700;
}
.hm-outline-grid .left {
  margin-right: 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.hm-outline-grid .right {
  padding: 20px 64px 20px 40px;
  text-align: start;
}
@media screen and (max-width: 768px) {
  .hm-outline-grid {
    margin-top: 20px;
  }
  .hm-outline-grid > p {
    font-size: calc(14 / 16 * 1rem) 0.875rem;
  }
  .hm-outline-grid .left {
    padding: 0 10px;
  }
  .hm-outline-grid .right {
    padding: 20px 64px 20px 15px;
  }
}
@media screen and (max-width: 768px) {
  .hm-outline-article > h2 {
    font-size: calc(30 / 16 * 1rem);
  }
}

/* HOME CONTACT SECTION */
.hm-contact-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 20px;
}
.hm-contact-section {
  border: solid 2px #feca00;
  border-radius: 20px;
  background-color: #fffbef;
  position: relative;
  height: 100%;
  padding: 84px 0 62px;
}
.hm-contact-cards-ctnr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 48px;
}
.hm-contact-section .exit-btn {
  width: 50px;
  position: absolute;
  top: -25px;
  right: -25px;
}
.hm-contact-cards-ctnr > h2 {
  position: absolute;
  font-family: "europa", sans-serif;
  font-size: 5rem;
  color: #feca00;
  top: 0;
  transform: translateY(-65%);
  font-weight: 700;
  padding: 0 20px;
}
.hm-contact-cards-ctnr > span {
  display: block;
  height: 10px;
  background-color: #fffbef;
  transform: translateY(-11px);
}
.hm-contact-cards-ctnr .no-border {
  height: 5px;
  max-width: 440px;
  width: 100%;
  background: #fffbef;
  display: block;
  position: absolute;
  top: -1.5px;
}
.hm-contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 160px;
}
.hm-contact-card .icon-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
}
.hm-contact-card .icon-group .circle {
  position: absolute;
  width: 120px;
  height: 120px;
}
.hm-contact-card .icon-group .icon {
  position: absolute;
  max-height: 55px;
}
.hm-contact-card p {
  margin-top: 4px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.75rem;
  line-height: 1.4;
  text-align: center;
}
.hm-contact-card span {
  color: #fea601;
}
.hm-contact-text {
  max-width: 640px;
  margin: 0 auto;
  font-size: 0.875rem;
  line-height: 1.75;
  font-weight: 600;
  padding: 40px;
}
.hm-contact-text > span {
  font-family: "europa", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
}
.hm-contact-text br {
  display: none;
}
.hm-contact-ctnr {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 700px;
  margin: 0 auto;
}
.hm-contact-main-button {
  flex: 4;
  background-color: #feca01;
  max-height: 80px;
  text-align: center;
  padding: 28px 0;

  font-family: "Noto Sans JP", sans-serif;
  font-size: calc(15 / 16 * 1rem);
  font-weight: 600;
  border-radius: 40px;
  position: relative;
}
.hm-contact-main-button::after {
  content: "";
  background-image: url(../images/index/contact/right_arrow_3.png);
  height: 30px;
  width: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.hm-phnum-line {
  flex: 3;
  display: flex;
  margin: 10px 0;
  gap: 10px;
  align-items: center;
}
.hm-phnum-line p {
  font-family: "europa", sans-serif;
  font-size: calc(30 / 16 * 1rem);
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .hm-contact-wrapper {
    padding: 71px 20px 80px;
  }
  .hm-contact-section {
    padding: 51px 0 47px;
  }

  .hm-contact-cards-ctnr > h2 {
    font-size: calc(60 / 16 * 1rem);
  }
  .hm-contact-cards-ctnr .no-border {
    max-width: 357px;
  }
  .hm-contact-section .exit-btn {
    display: none;
  }
  .hm-contact-card {
    max-width: 80px;
  }
  .hm-contact-card .icon-group {
    height: 60px;
  }
  .hm-contact-card .icon-group .circle {
    width: 60px;
    height: 60px;
  }
  .hm-contact-card .icon-group .icon {
    position: absolute;
    max-height: 22px;
  }
  .hm-contact-text {
    font-size: 0.75rem;
    padding: 24px 15px;
    line-height: 2;
    text-align: center;
  }
  .hm-contact-text span {
    font-family: "europa", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
  }
  .hm-contact-text br {
    display: block;
  }
  .hm-contact-ctnr {
    flex-direction: column;
    gap: 24px;
    padding: 0 40px;
  }
  .hm-contact-main-button {
    padding: 18px 0 18px 20px;
    text-align: start;
    width: 100%;
  }
  .hm-contact-info > p {
    padding-left: 32px;
    font-weight: 600;
  }
}
@media screen and (max-width: 480px) {
  .hm-contact-cards-ctnr > h2 {
    font-size: 2.5rem;
  }
  .hm-contact-cards-ctnr .no-border {
    max-width: 255px;
  }

  .hm-contact-ctnr {
    padding: 0 15px;
  }
}

/* HOME NEWS SECTION */
.hm-news-section-wrapper {
  background-color: #f5f5f5;
  padding: 80px 20px 100px;
}
.hm-news-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}
.hm-news-section > h2 {
  font-family: "europa", sans-serif;
  font-size: 5rem;
  color: #fbca00;
  font-weight: 700;
  display: inline-block;
  margin-right: 20px;
}
.hm-news-section > h4 {
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.hm-news-section .hor-line {
  height: 3px;
  max-width: 860px;
  width: 100%;
  background-color: #7a7a7a;
  margin: 45px auto 40px;
}
.hm-news-cards-ctnr {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.hm-news-card {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  max-width: 280px;
  width: 100%;
}
.hm-news-card .logo-bg {
  width: 260px;
  height: 180px;
  background: #e8e8e8;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hm-news-card .logo-bg-badge {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 30px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #feca00;
  padding: 10px 0;
  text-align: center;
  font-family: "europa", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
}
.hm-news-card .logo-bg img {
  height: 40px;
}
.hm-news-card .caption {
  margin: 15px 0 10px;
  font-size: 0.875rem;
  line-height: 1.75;
  font-weight: 600;
}
.hm-news-card .date {
  margin: 10px 0;
  font-family: "europa", sans-serif;
  font-size: 0.875rem;
  line-height: 1.75;
  font-weight: 700;
  color: #feca00;
}

.hm-news-btn-wrapper {
  padding: 40px 0 0;
}
.hm-news-btn {
  border-radius: 25px;
  max-width: 300px;
  margin: 0 auto;
  height: 50px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: start;
  padding-left: 20px;
  align-items: center;
  position: relative;
}
.hm-news-btn::after {
  content: "";
  background-image: url(../images/index/contact/right_arrow_3.png);
  height: 30px;
  width: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  filter: invert(1);
}
@media screen and (max-width: 768px) {
  .hm-news-btn-wrapper {
    padding: 36px 0 80px;
  }
  .hm-news-section > h2 {
    font-size: 2.5rem;
  }
  .hm-news-section {
    padding: 0 15px;
  }
  .hm-news-section .hor-line {
    margin: 21px 0 24px;
  }
}

/*=======================
NEWS PAGE
=======================*/
.news-wrapper {
  width: 100%;
  background-color: #f5f5f5;
}
.news-ctnr {
  max-width: 900px;
  margin: 0 auto;
  padding: 110px 20px 100px;
}
.news-ctnr > h2 {
  font-family: "europa", sans-serif;
  font-size: 5rem;
  color: #fbca00;
  font-weight: 700;
  display: inline-block;
  margin-right: 20px;
}
.news-ctnr > h4 {
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.news-ctnr .hor-line {
  height: 3px;
  max-width: 860px;
  width: 100%;
  background-color: #fbca00;
  margin: 45px auto 40px;
}
.news-cards-ctnr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 40px;
}
.news-card {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  max-width: 280px;
  width: 100%;
}
.news-card .logo-bg {
  width: 100%;
  height: 180px;
  background: #e8e8e8;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-card .logo-bg-badge {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 30px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #feca00;
  padding: 10px 0;
  text-align: center;
  font-family: "europa", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
}
.news-card .logo-bg img {
  height: 40px;
}
.news-card .caption {
  margin: 15px 0 10px;
  font-size: 0.875rem;
  line-height: 1.75;
  font-weight: 600;
}
.news-card .date {
  margin: 10px 0;
  font-family: "europa", sans-serif;
  font-size: 0.875rem;
  line-height: 1.75;
  font-weight: 700;
  color: #feca00;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 10px;
}
.pagination > * {
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination * a {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-page {
  background-color: #000;
  color: #fff;
}

.pagination span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
}
@media screen and (max-width: 900px) {
  .news-cards-ctnr {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 40px;
    max-width: 610px;
    margin: 0 auto;
  }
  .news-card {
    max-width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .news-ctnr {
    padding: 85px 15px 100px;
  }
  .news-ctnr > h2 {
    font-size: 2.5rem;
    margin-right: 10px;
  }
  .news-ctnr > h4 {
  }
  .news-ctnr .hor-line {
    margin: 21px auto 24px;
  }
}
@media screen and (max-width: 610px) {
  .news-cards-ctnr {
    grid-template-columns: 1fr;
    max-width: 300px;
  }
}

/*=========================
CONTACT SECTION
============================*/

.contact-wrapper {
  padding: 110px 20px 100px;
}
.contact-ctnr {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact-ctnr > h2 {
  font-family: "europa", sans-serif;
  font-size: 5rem;
  color: #fbca00;
  font-weight: 700;
  display: inline-block;
  margin-right: 20px;
}
.contact-ctnr > h4 {
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.contact-ctnr .hor-line {
  height: 3px;
  max-width: 860px;
  width: 100%;
  background-color: #feca00;
  margin: 45px auto 40px;
}
.contact-ctnr > p {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: calc(1 + 10 / 14);
  margin-bottom: 40px;
}
.contact-btn-wrapper {
  padding-top: 40px;
}
.contact-btn {
  height: 50px;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  border: none;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: calc(14 / 16 * 1rem);
  font-weight: 600;
  padding-left: 20px;
  max-width: 240px;
  margin: 0 auto;
}
.contact-btn::after {
  content: "";
  background-image: url(../images/index/circle_arrow_icon.png);
  background-size: contain;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 1;
  filter: invert(1);
}
@media screen and (max-width: 768px) {
  .contact-btn-wrapper {
    padding: 36px 0 80px;
  }
  .contact-ctnr > h2 {
    font-size: 2.5rem;
    margin-right: 10px;
  }
  .contact-ctnr {
    padding: 0 15px;
  }
  .contact-ctnr .hor-line {
    margin: 21px 0 24px;
  }
}

.inputs-ctnr {
  background-color: #f5f5f5;
  padding: 40px 100px;
  border-radius: 10px;
}
.input-label {
  display: flex;
  align-items: end;
}
.company-input,
.name-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: end;
}
.inputs-ctnr p {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 600;
  color: #000;
  line-height: 1.4;
}
.inputs-ctnr span {
  margin: 0;
  font-size: calc(10 / 16 * 1rem);
  font-weight: 500;
  color: #fd0100;
  border: solid 1px #fd0100;
  border-radius: 10px;
  margin-left: 10px;
  padding: 1px 3px;
}
.company-input input,
.name-input input {
  margin-top: 10px;
}
.radios-ctnr {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 24px;
}
.radio-input {
  margin-top: 24px;
}
.radio-input input {
  margin: 0;
}
.name-input {
  margin-top: 48px;
}
.input-common {
  margin-top: 24px;
}
.mail-input input::placeholder {
  font-family: "europa", sans-serif;
  font-size: 0.875px;
  font-weight: 500;
}
.input-common input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 4px;
  border: solid 1px #d1d1d1;
  margin-top: 10px;
}
.input-select {
  display: flex;
  margin-top: 10px;
  position: relative;
  height: 44px;
}
.input-select input {
  margin: 0;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  border-right: none;
}
.input-select button {
  border: solid 1px #d1d1d1;
  border-left: none;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  z-index: 1;
  height: 100%;
  aspect-ratio: 1 / 1;
}
.input-select button img {
  width: 8px;
  height: 6px;
}
.input-common input::placeholder {
  opacity: 18%;
  font-size: 0.875rem;
  font-weight: 500;
}

.details-input input {
  padding: 20px 20px 90px;
}
.checkbox-input {
  margin-top: 24px;
}
.checkbox-input .checkboxes-ctnr p {
  margin-top: 15px;
}
.checkbox-input .checkboxes-ctnr span {
  border: none;
}
.contact-confirm-btn {
  display: flex;
  margin: 40px auto 0;
  width: 240px;
  padding: 15px 10px 15px 20px;
  background-color: #fbca00;
  border-radius: 25px;
  position: relative;
}
.contact-confirm-btn::after {
  content: "";
  background-image: url(../images/index/circle_arrow_icon.png);
  background-size: contain;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
@media screen and (max-width: 768px) {
  .contact-wrapper {
    padding: 110px 0 80px;
  }
  .news-ctnr .breadcrumb {
    margin-bottom: 55px;
  }
  .inputs-ctnr {
    padding: 36px 15px;
  }
  .company-input {
    grid-template-columns: 1fr;
  }
  .last-radio {
    width: 300px;
  }
  .contact-ctnr .breadcrumb {
    display: none;
  }
  .contact-confirm-btn {
    margin-top: 36px;
  }
}
@media screen and (max-width: 480px) {
  .contact-confirm-btn {
    width: 100%;
  }
}

/*==================
CONTACT CONFIRM PAGE
===================*/
.entered-info {
  height: 44px;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  margin-top: 10px;
}
.radio-input .radios-ctnr p {
  margin-left: 20px;
}
.entered-info p {
  font-family: "europa", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}
.entered-info span {
  border: none;
  color: #000;
  font-family: "europa", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.details-input .entered-info {
  height: fit-content;
  letter-spacing: 0;
}
.checkbox-input .checkboxes-ctnr span {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.edit-button {
  background-color: #000;
  margin-top: 15px;
}
.edit-button p {
  color: #fff;
}
.edit-button::after {
  filter: invert(1);
}

/*==================
DELIVERED PAGE
==================*/
.contact-ctnr h3 {
  margin-bottom: 36px;
  font-size: 1.25rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .contact-ctnr h3 {
    font-size: 1rem;
  }
}

/*=======================
NEWS SINGLE PAGE
==========================*/
.news-sg-main-wrapper {
  width: 100%;
  background-color: #f5f5f5;
}
.news-sg-main-wrapper .breadcrumb {
  max-width: 860px;
  margin: 0 auto;
}
.news-sg-main-ctnr {
  max-width: 900px;
  margin: 0 auto;
  padding: 110px 20px 100px;
}
.details-ctnr {
  padding-top: 59px;
  display: flex;
  gap: 20px;
}
.details {
  max-width: 600px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
}
.details .hor-line {
  height: 3px;
  max-width: 860px;
  width: 100%;
  background-color: #fbca00;
  margin: 23px 0 40px;
}

.details > img {
  background-color: #e7e7e7;
  width: 100%;
  height: 300px;
}
.details ul {
  background-color: #fff2bf;
  border-radius: 10px;
  padding: 24px 20px;
  margin-top: 24px;
}
.details ul p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.details ul li {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 10px;
}
.details ul li::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  background: #7a7a7a;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 2px;
  padding-right: 10px;
}
.details > p {
  margin-top: 24px;
  font-size: 0.875rem;
  line-height: calc(24 / 16);
}
.details h2 {
  font-family: "europa", sans-serif;
  font-size: 1rem;
  color: #000;
  font-weight: 700;
  margin-top: 40px;
  background-color: #feca00;
  border-radius: 5px;
  padding: 13px 20px;
  letter-spacing: 0;
}
.details .title-h {
  background-color: transparent;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.25rem;
  margin-top: 0;
}
.details > p span {
  color: #efbe00;
  font-weight: bold;
}
.details h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: calc(24 / 16);
  letter-spacing: 0;
  margin-top: 40px;
}
.details > div {
  height: 3px;
  width: 100%;
  margin-top: 10px;
  display: flex;
}
.details > div div:first-child {
  background-color: #feca00;
  height: 100%;
  width: 25%;
}
.details > div div:last-child {
  background-color: #e7e7e7;
  height: 100%;
  flex: 1;
}
.details table {
  margin-top: 24px;
  width: 100%;
  border: solid 1px #fff;
}
.details table th {
  font-size: 0.875rem;
  font-weight: 600;
  background-color: #7a7a7a;
  border: solid 1px #fff;
  padding: 17px 0 13px;
}
.details table th:nth-child(1),
.details table th:nth-child(2) {
  width: 25%; /* 1 part each */
}
.details table th:nth-child(3) {
  width: 50%;
}

.details table td {
  line-height: calc(17 / 16);
  font-weight: 500;
  background-color: #f9f9f9;
  padding: 17px 0 13px;
  text-align: center;
  border: solid 1px #fff;
  font-size: 12px;
}

.title-span {
  font-family: "europa", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: #feca00;
  margin-top: 23px;
}
.details-right {
  min-width: 240px;
}
.details-right-top {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
}
.details-right p:first-child {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: calc(30 / 16);
}
.details-right .info-card {
  display: flex;
  margin-top: 15px;
  gap: 5px;
  height: 54px;
}
.details-right img {
  width: 63px;
  background-color: #e7e7e7;
  border-radius: 5px;
}
.details-right p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: calc(18 / 16);
  letter-spacing: 0;
  max-width: 132px;
}

.details-right-bot {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
  margin-top: 20px;
}

.return-to-list-btn {
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.return-to-list-btn img {
  height: 40px;
  width: 40px;
  margin-right: 15px;
}
.return-to-list-btn p {
  font-size: 1rem;
  font-weight: 700;
  line-height: calc(30 / 16);
}
@media screen and (max-width: 768px) {
  .details-ctnr {
    padding-top: 50px;
  }
  .details {
    max-width: 100%;
    padding: 36px 15px;
  }
  .details .hor-line {
    margin: 23px 0 36px;
  }
  .details h2 {
    margin-top: 36px;
  }
  .details h3 {
    margin-top: 45px;
  }
  .details-right {
    display: none;
  }
  .return-to-list-btn {
    padding-top: 50px;
    max-width: fit-content;
    margin: 0 auto;
  }
}

/*======================
SERVICE TOP SECTION
======================*/
.service-top-wrapper {
  background-color: #fbcd0e;
  width: 100%;
  padding: 50px 0;
  margin-top: 90px;
}
.service-ctnr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 90px;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
}
.service-ctnr h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: calc(40 / 16 * 1rem);
  font-weight: 700;
  line-height: calc(60 / 40);
  color: #fff;
}
.service-ctnr-left > p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: calc(22 / 16 * 1rem);
  font-weight: 700;
  line-height: calc(36 / 22);
  color: #000;
  margin-top: 10px;
}

.check-info-ctnr {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  max-width: 320px;
}
.check-info {
  display: flex;
  gap: 9px;
  align-items: center;
}
.check-info img {
  width: 14px;
  height: 10px;
}
.check-info p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: calc(30 / 16);
  color: #000;
}
.chck-info span {
  font-family: "europa", sans-serif;
  font-size: calc(18 / 16 * 1rem);
  font-weight: 700;
}
.info-n-bg {
  position: relative;
}

.white-bg {
  height: 16px;
  background-color: #fff;
  opacity: 0.5;

  position: absolute;
  left: -5px;
  right: -5px;
  bottom: 0;
}

.btns-ctnr {
  display: flex;
  gap: 20px;
  max-height: 50px;
  margin: 22px auto 0;
}
.btns-ctnr * {
  flex: 1;
  border-radius: 25px;
  padding: 15px 10px 15px 20px;
  color: #fff;
  max-width: 155px;
  position: relative;
  font-size: 0.875rem;
  font-weight: 600;
}
.btns-ctnr *::after {
  content: "";
  background-image: url(../images/index/circle_arrow_icon.png);
  background-size: contain;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.inquiry-btn {
  background-color: #002dd7;
}
.eg-btn {
  background-color: #000;
}
.eg-btn::after {
  filter: invert(1);
}
.service-ctnr-right {
  object-fit: contain;
  grid-column: 2;
  grid-row: 1 / span 2;
}

@media screen and (max-width: 768px) {
  .service-top-wrapper {
    margin-top: 60px;
  }
  .service-ctnr {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .service-ctnr h2 {
    font-size: calc(34 / 16 * 1rem);
  }
  .service-ctnr-right {
    grid-column: 1;
    grid-row: 2;
    padding: 0 8px;
  }
  .service-ctnr-left > p {
    font-size: calc(20 / 16 * 1rem);
  }
}

/*========================
SERVICE MAIN SECTION
========================*/
.service-wrapper {
  background-color: #f5f5f5;
}
.service-main-ctnr {
  padding: 82px 20px 100px;
  margin: 0 auto;
  max-width: 900px;
}
.service-main-ctnr h2 {
  font-family: "europa", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: calc(36 / 80);
  color: #feca00;
  display: inline-block;
}
.service-main-ctnr h2 span {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: calc(30 / 16);
  color: #000;
  margin-left: 20px;
}
.service-main-ctnr .hor-line {
  height: 2px;
  width: 100%;
  background-color: #7a7a7a;
  margin: 40px 0 42px;
}

.service-cards-ctnr {
  border-radius: 10px;
  background-color: #fff;
  padding: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border: solid 2px #f0f0f0;
}
.service-card {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  width: 100%;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  border: solid 2px #f0f0f0;
}
.service-card .icon-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  min-height: 80px;
}
.service-card .icon-group .circle {
  position: absolute;
}
.service-card .icon-group .icon {
  position: absolute;
  max-height: 42px;
}
.service-card p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: calc(28 / 16);
}
.service-card p span {
  font-family: "europa", sans-serif;
  font-size: calc(18 / 16 * 1rem);
  line-height: calc(28 / 18);
}

@media screen and (max-width: 768px) {
  .service-main-ctnr > h2 {
    font-size: 2.5rem;
    margin-right: 10px;
  }
  .service-card {
    padding: 15px;
  }
  .service-cards-ctnr {
    grid-template-columns: 1fr;
    padding: 30px;
    margin-top: 28px;
  }
  .service-main-ctnr .hor-line {
    margin: 21px 0 24px;
  }
  .service-card .icon-group {
    min-width: 60px;
    min-height: 60px;
  }
  .service-card .icon-group .icon {
    max-height: 30px;
  }
}

/*========================
PRICE SECTION
========================*/
.price-wrapper {
  background-color: #f5f5f5;
}
.price-main-ctnr {
  padding: 82px 20px 100px;
  margin: 0 auto;
  max-width: 900px;
}
.price-main-ctnr h2 {
  font-family: "europa", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: calc(36 / 80);
  color: #feca00;
  display: inline-block;
}
.price-main-ctnr h2 span {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: calc(30 / 16);
  color: #000;
  margin-left: 20px;
}
.price-main-ctnr .hor-line {
  height: 2px;
  width: 100%;
  background-color: #7a7a7a;
  margin: 40px 0 42px;
}
.price-title-line {
  display: flex;
  gap: 10px;
  align-items: center;
}
.price-title-line img {
  width: 16px;
  height: 16px;
}
.price-title-line p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #7a7a7a;
  line-height: calc(28 / 24);
}
.price-main-para {
  margin-top: 24px;
}
.price-main-para span {
  font-family: "europa", sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .price-wrapper {
    display: none;
  }
}

.price-discount-cards-ctnr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
}
.price-discount-card {
  /* border: solid 6px #feca00; */
  background-color: #fff;
  border-radius: 10px;
  padding: 37px 0;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 280px;
}
.price-discount-card h4 {
  font-family: "europa", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: calc(18 / 14);
  color: #feca00;
  text-align: center;
  margin-top: 4px;
}
.price-discount-card span {
  font-family: "europa", sans-serif;
}
.price-discount-card .para {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: calc(20 / 14);
  text-align: center;
  margin-top: 14px;
}
.price-discount-card .price-yen {
  font-family: "europa", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: calc(51 / 40);
  text-align: center;
  margin-top: 21px;
}
.price-discount-card .price-yen span {
  font-size: 0.875rem;
}
.price-discount-card .monthly-fee {
  font-family: "Noto Sans JP", sans-serif;
  font-size: calc(10 / 16 * 1rem);
  font-weight: 700;
  line-height: calc(15/ 10);
  text-align: center;
  color: #ADADAD;
  margin-top: 3px;
}

.price-discount-card .save-yen-btn {
  font-family: "Europa", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  background-color: #feca00;
  border-radius: 5px;
  padding: 13px 0;
  width: 155px;
  margin-top: 20px;
}
.price-discount-card .save-yen-btn span {
  font-size: 0.875rem;
}