@charset "utf-8";


.top-ctnr {
  max-width: 1280px;
  height: 720px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

.side-header {
  top: 0;
  left: 0;
  max-width: 400px;
  width: 100%;
  height: 100%;
  padding-top: 45px;
  padding-bottom: 230px;
  background-color: #f5f5f5;
  padding-left: 88px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border-bottom-right-radius: 10px;
}
.side-header > a > img {
  max-height: 40px;
  object-fit: contain;
}
.menu {
  margin-top: 36px;
}
.menu h3 {
  font-size: 1.25rem;
  font-weight: 700;
}
.menu p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: calc(10 / 16 * 1rem);
}
.menu-plus {
  position: relative;
  width: 100%;
  z-index: 2;
}
.menu-plus h3 {
  position: relative;
}
.menu-plus h3::before {
  content: "";
  background-image: url(../images/index/hor_line_for_plus.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 60%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
  height: 3px;
  width: 16px;
  z-index: 2;
}
.menu-plus h3::after {
  content: "";
  background-image: url(../images/index/ver_line_for_plus.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 60%;
  left: calc(100% + 16.5px);
  transform: translateY(-50%);
  width: 3px;
  height: 16px;
  z-index: 2;
  padding-right: 50px;
}
.triangle-b4-dropdown {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 33px);
  width: 30px;
  z-index: 10;
}
.dropdown {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  left: calc(100% + 55px);
  max-width: 860px;
  width: 860px;
  height: 250px;

  display: none;
  justify-content: center;
  gap: 30px;
  align-items: start;
  padding-top: 40px;
  background-color: #fff;
  border-radius: 20px;
  z-index: 1000;
}
.menu-plus:hover .triangle-b4-dropdown,
.menu-plus:hover .dropdown {
  display: flex;
}
.dropdown-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  width: 100%;
}
.dropdown-card .icon-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}
.dropdown-card .icon-group .circle {
  position: absolute;
}
.dropdown-card .icon-group .icon {
  position: absolute;
  max-height: 42px;
}
.dropdown-card p {
  margin-top: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: calc(14 / 16 * 1rem);
  line-height: 1.5;
}
.dropdown-card .off-text {
  margin-top: 0;
}

/* TOP SLIDER SECTION */
.top-slider {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 75%;
  z-index: 1;
}
.top-slider .slick-arrow {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  border: solid 2px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-slider .slick-next {
  right: 20px;
  top: 65%;
  z-index: 1;
}
.top-slider .slick-prev {
  left: 20px;
  top: 65%;
  z-index: 1;
}
.top-slider .slick-prev::before {
  transform: rotate(180deg);
}
.top-slider .slick-dots {
  bottom: -34px;
  display: flex;
  align-items: start;
  padding-left: 15%;
}
.top-slider .slick-dots button::before {
  content: "";
  height: 12px;
  width: 12px;
  background-color: #7a7a7a;
  border-radius: 50%;
  position: unset;
  display: block;
}
.top-slider .slick-active button {
  height: 24px;
  width: 24px;
  border: solid 2px #fbca00;
  border-radius: 50%;
}
.top-slider .slick-active button::before {
  background-color: #fbca00;
}
.top-slide {
  position: relative;
  height: calc(100vh * 75 / 100);
  border-bottom-left-radius: 10px;
}
.top-slide-blue {
  background-color: #3156df;
}
.top-slide-pale {
  background-color: #ffe995;
}
.top-slide-yellow {
  background-color: #ffcd0d;
}
.top-bg {
  position: absolute;
  top: 0;
  bottom: 0;
}
.world-map {
  position: absolute;
  right: 0;
  top: 100px;
  max-height: 350px;
  height: 100%;
  max-width: 700px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .side-header {
    max-width: 260px;
    padding-left: 44px;
  }
}
@media screen and (max-width: 768px) {
  .top-slider {
    top: 60px;
  }
  .top-slide {
    border-top-left-radius: 10px;
    height: 534px;
  }
  .side-header-container {
    display: none;
  }
  .top-slider {
    width: 92%;
  }
}
@media screen and (max-width: 768px) {
  .side-header {
    max-width: 120px;
    padding: 18px 0 0 15px;
  }
}

/* TOP SLIDER CONTENT */
.top-slider-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  z-index: 11;
  padding: 112px 25px 0;
}
.top-left-container {
  display: flex;
  flex-direction: column;
  max-width: 330px;
}
.top-left-container > h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  color: #fff;
  font-weight: 700;
  z-index: 1;
}
.top-left-ctnr-sl2 > h1 {
  color: #000;
}
.top-left-container > h4 {
  margin: 25px 0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: calc(14 / 16 * 1rem);
  color: #fff;
  font-weight: 600;
  line-height: 1.5;
  z-index: 1;
}
.top-left-ctnr-sl2 > h4 {
  color: #000;
}
.top-left-ctnr-sl3 > h4 {
  color: #000;
}
.upper-button {
  margin: 9px 0;
  height: 50px;
  border-radius: 25px;
  background-color: #fbca00;
  border: none;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: calc(14 / 16 * 1rem);
  color: #000;
  font-weight: 600;
  padding-left: 20px;
}
.upper-btn-slide2 {
  background-color: #182dd7;
  color: #fff;
}
.upper-btn-slide3 {
  background-color: #fff;
}
.lower-button {
  margin: 6px 0;
  border-radius: 25px;
  background-color: #000;
  border: none;
  padding: 15px 10px;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: calc(14 / 16 * 1rem);
  color: #ffffff;
  font-weight: 600;
  padding-left: 20px;
}
.upper-button::after,
.lower-button::after {
  content: "";
  background-image: url(../images/index/circle_arrow_icon.png);
  background-size: contain;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.upper-btn-slide2::after {
  filter: invert(1);
}
.lower-button::after {
  filter: invert(1);
}
.triangle-route {
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .top-slider-content-container {
    gap: 28px;
  }
  .triangle-route {
    max-width: 262px;
  }
}
@media screen and (max-width: 768px) {
  .top-slider-content-container {
    flex-direction: column;
    padding: 32px 25px 36px;
    gap: 24px;
  }
  .triangle-route {
    max-width: 262px;
  }
  .top-left-container > h4 {
    margin: 25px 0 12px;
  }
  .top-left-container .upper-button,
  .top-left-container .lower-button {
    display: none;
  }
  .top-slider-btns {
    display: flex;
    gap: 15px;
    max-width: 400px;
    width: 100%;
  }
  .top-slider-btns .upper-button,
  .top-slider-btns .lower-button {
    width: 100%;
  }
}



/* DISOUNT CARDS SECTION */
.discount-cards-slider {
  max-width: 1020px;
  margin: 0 auto;
  padding: 100px 20px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.discount-cards-slider .slick-track {
  display: flex;
  gap: 40px;
}

.discount-cards-slider .slick-arrow::before {
  color: transparent;
  background-image: url(../images/index/discount/right_arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 8px;
  width: 11px;
  display: block;
}
.discount-card {
  width: 300px;
}

.discount-cards-slider .slick-arrow {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  border: solid 2px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount-cards-slider .slick-next {
  right: 20px;
  top: 65%;
  z-index: 1;
}
.discount-cards-slider .slick-prev {
  left: 20px;
  top: 65%;
  z-index: 1;
}
.discount-cards-slider .slick-prev::before {
  transform: rotate(180deg);
}
.discount-cards-slider .slick-dots {
  bottom: -34px;
}
.discount-cards-slider .slick-dots button::before {
  content: "";
  height: 12px;
  width: 12px;
  background-color: #7a7a7a;
  border-radius: 50%;
  position: unset;
  display: block;
}
.discount-cards-slider .slick-active button {
  height: 24px;
  width: 24px;
  border: solid 2px #fbca00;
  border-radius: 50%;
}
.discount-cards-slider .slick-active button::before {
  background-color: #fbca00;
}
@media screen and (max-width: 900px) {
  .discount-cards-slider {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .discount-cards-slider {
    padding: 80px 0 0;
  }
  .discount-cards-slider .slick-track {
    gap: 20px;
  }
}

/* HOME SERVICE SECTION */
.hm-service-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 20px;
}
.hm-service-section > h1 {
  font-family: "europa", sans-serif;
  font-size: 5rem;
  color: #fbca00;
  font-weight: 700;
  display: inline-block;
  margin-right: 20px;
}
.hm-service-section > h4 {
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.hm-service-section .hor-line {
  height: 3px;
  max-width: 860px;
  width: 100%;
  background-color: #fbca00;
  margin: 45px auto 40px;
}
.hm-service-ctnr {
  max-width: 900px;
  margin: 0 auto;
}
.hm-service-tabs-ctnr {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@keyframes floatUp {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0px);
  }
}
.service-tab {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
  justify-content: center;
  background-color: #fff;
  border: solid 2px #ffea99;
  border-radius: 10px;
  padding: 20px 23px;
  color: #fbca00;

  font-size: 1.25rem;
  font-weight: 700;

  position: relative;
}
.service-tab > img {
  max-height: 40px;
}
.service-tab::after {
  opacity: 0;
  content: "";
  background-image: url(../images/index/triangle_for_hmservice.png);
  background-size: contain;
  width: 20px;
  height: 24px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.chosen-tab {
  background-color: #fbca00;
  color: #000;
}
.chosen-tab::after {
  opacity: 1;
}
.chosen-tab > img {
  filter: brightness(0);
}
/* SERVICE TAB CONTENT */
.hm-service-content-ctnr {
  background-color: #fbca00;
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
  margin-top: 40px;
  border-radius: 10px;
}
.content-active {
  display: grid;
  animation: floatUp 0.9s ease;
}
.hm-service-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
}
.hm-service-card .icon-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}
.hm-service-card .icon-group .circle {
  position: absolute;
}
.hm-service-card .icon-group .icon {
  position: absolute;
  max-height: 42px;
}
.hm-service-card p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
}
@media screen and (max-width: 855px) {
  .hm-service-card .icon-group {
    width: 60px;
    height: 60px;
  }
  .hm-service-card .icon-group .icon {
    max-height: 30px;
  }
}
@media screen and (max-width: 768px) {
  .hm-service-section {
    padding: 71px 20px;
  }
  .hm-service-section > h1 {
    font-size: 2.5rem;
    margin-right: 10px;
  }
  .service-tab > img {
    display: none;
  }
  .hm-service-content-ctnr {
    grid-template-columns: 1fr;
    padding: 30px;
    margin-top: 28px;
  }
  .hm-service-section .hor-line {
    margin: 21px 0 24px;
  }
}
@media screen and (max-width: 480px) {
  .hm-service-content-ctnr {
    padding: 24px 10px;
  }
  .hm-service-card {
    padding: 15px;
  }
  .service-tab {
    padding: 11px 15px;
    font-size: calc(14 / 16 * 1rem);
  }
}

/* HOME ABOUT SECTION */
.hm-about-section-wrapper {
  background-color: #f5f5f5;
  padding: 100px 20px 90px;
}
.hm-about-article {
  max-width: 900px;
  margin: 0 auto;
}
.hm-about-article > h1 {
  font-family: "europa", sans-serif;
  font-size: 5rem;
  color: #fbca00;
  font-weight: 700;
  display: inline-block;
  margin-right: 20px;
}
.hm-about-article > h4 {
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.hm-about-article .hor-line {
  height: 3px;
  max-width: 860px;
  width: 100%;
  background-color: #7a7a7a;
  margin: 45px auto 40px;
}

.hm-about-img {
  max-width: 860px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.hm-about-img > img {
  object-fit: cover;
  object-position: center;
}
.hm-about-mainpara {
  font-size: 0.875rem;
  line-height: 1.75;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .hm-about-section-wrapper {
    padding: 71px 15px 80px;
  }
  .hm-about-article > h1 {
    font-size: 2.5rem;
  }
  .hm-about-article {
  }
  .hm-about-article .hor-line {
    margin: 21px 0 24px;
  }
}

/* HOME > ABOUT SECTION > NUMBER ARTICLE */
.hm-numbers-article {
  max-width: 900px;
  margin: 0 auto;
  padding: 71px 20px 0;
}
.hm-numbers-article > h1 {
  font-size: 2.5rem;
  color: #7a7a7a;
  font-weight: 700;
  display: inline-block;
  margin-right: 20px;
}
.hm-numbers-article > h4 {
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.hm-numbers-article .msg {
  display: inline-block;
  margin-right: 5px;
}
.hm-num-cards {
  margin-top: 40px;
}
.hm-num-cards-top {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 30px;
}
.first-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.second-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  margin-top: 10px;
}
.hm-num-card {
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 70px;
  position: relative;
  border-radius: 10px;
  max-width: 280px;
  width: 100%;
  height: 280px;
}
.hm-num-card-badge {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #feca00;
  width: 160px;
  padding: 10px 0;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
}
.hm-num-card .icons-ctnr {
  display: flex;
  gap: 7px;
}
.hm-num-card > h2 {
  font-size: 5rem;
  color: #feca00;
  font-weight: 700;
}
.hm-num-card > h2 > span {
  font-size: 1.25rem;
}
.hm-num-card > p {
  font-weight: 600;
  margin-top: 10px;
}
.hm-num-card .smaller-icons img {
  max-height: 35px;
}
.couple-card {
  max-width: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
.couple-card > img {
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: 1;
}
.couple-card .hm-num-card-badge {
  z-index: 2;
}
.icon-n-year {
  display: flex;
  align-items: center;
}
.icon-n-year > h2 {
  font-size: 3.13rem;
  color: #feca00;
  font-weight: 700;
}
.icon-n-year > h2 > span {
  font-size: 1.25rem;
}
.couple-card-right {
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.card-right-ctnr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.couple-card-right p {
  margin: 0;
  font-weight: 600;
}
.couple-card-right img {
  max-height: 35px;
  padding-right: 12px;
}

.third-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}
.hm-num-cards-bottom {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}
.hm-num-cards-bottom .btm-left {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.hm-num-cards-bottom > .btm-left > .last-line {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  padding: 70px 30px 30px;
  align-items: self-end;
  position: relative;
}
.stats-grid::before {
  content: "";
  background-image: url(../images/index/about/pie_chart.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 60px;
  right: 7px;
}
.stats-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  height: 100%;
}
.ver-bar {
  height: 100%;
  width: 26px;
  background-color: #b9b9b9;
  justify-self: end;
}
.first-stats-bar {
  width: 125%;
  padding-right: 10px;
}
.second-stats-bar {
  height: 90%;
}
.third-stats-bar {
  height: 80%;
}
.last-stats-bar {
  height: 70%;
}

.first-stats-bar .ver-bar {
  background-color: #fec700;
}
.stats-bar h4 {
  font-size: 24px;
}
.stats-bar h4 > span {
  font-size: 12px;
}
.stast-bar p {
  font-size: 12px;
  font-weight: 600px;
}
.first-stats-bar h4 {
  font-size: 36px;
}
.last-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.last-card-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
}
.ver-hor-line {
  width: 100%;
  height: 2px;
}
.last-card-right > .last-card-content {
  padding-top: 0px;
  justify-content: start;
  gap: 10px;
}
.last-card-right > .last-card-content > p {
  margin: 20px 0 20px;
}
.last-card-left {
  display: none;
  grid-template-columns: 1fr;
  gap: 10px;
}
.hidden-cell {
  display: none;
}
@media screen and (max-width: 860px) {
  .hm-num-card {
    height: 260px;
  }
  .hm-num-card > h2 {
    font-size: 3.75rem;
  }
  .hm-num-card img {
    max-height: 40px;
  }
  .couple-card-right h2 {
    font-size: 2.5rem;
  }
  .last-card-right .couple-ring {
    width: 160px;
    max-height: 160px;
  }
  .stats-bar h4 {
    font-size: 15px;
  }
  .first-stats-bar h4 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .hm-num-card {
    height: 240px;
  }
  .hm-num-card > h2 {
    font-size: 2.5rem;
  }
  .hm-num-card .smaller-icons img {
    max-height: 24px;
  }
  .couple-card-right h2 {
    font-size: 1.87rem;
  }
  .first-stats-bar h4 {
    font-size: 18px;
  }
  .couple-card > img {
    height: 80%;
  }
}
@media screen and (max-width: 700px) {
  .hm-numbers-article {
    max-width: 570px;
    margin: 0 auto;
  }
  .couple-card > img {
    height: 80%;
  }
  .first-row {
    grid-template-columns: 1fr 1fr;
  }
  .hidden-cell {
    display: flex;
  }
  .shown-cell {
    display: none;
  }
  .second-row {
    grid-template-columns: 1fr;
  }
  .hm-num-cards-bottom {
    grid-template-columns: 1fr;
  }
  .last-card {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .last-card-left {
    display: grid;
  }
}
@media screen and (max-width: 480px) {
  .hm-num-card-badge {
    max-width: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: unset;
  }

  .couple-card .hm-num-card-badge {
    max-width: 100%;
    width: 100%;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: unset;
  }
  .couple-card > img {
    height: 70%;
    top: 20%;
  }
  .stats-grid {
    padding: 70px 20px 30px;
  }
  .stats-grid::before {
    height: 24px;
    right: 15px;
  }
  .stats-bar .ver-bar {
    max-width: 16px;
  }
  .stats-bar p {
    font-size: 10px;
  }
  .last-card {
    grid-template-columns: 1fr 1fr;
  }
  .last-card-right .couple-ring {
    width: 120px;
    max-height: 120px;
  }
}

/* HOME > ABOUT SECTION > MEMBER ARTICLE */
.hm-member-article {
  max-width: 900px;
  margin: 0 auto;
  padding: 71px 20px 0;
}
.hm-member-article > h1 {
  font-family: "europa", sans-serif;
  font-size: 2.5rem;
  color: #7a7a7a;
  font-weight: 700;
  display: inline-block;
  margin-right: 20px;
}
.hm-member-article > h4 {
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.hm-member-article .msg {
  display: inline-block;
}

.hm-member-profile-ctnr {
  display: flex;
  max-width: 420px;
  gap: 20px;
}
.member-profile-img {
  padding: 40px 0 10px;
}
.member-profile > p {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .hm-member-article > h1 {
    font-size: 1.87rem;
  }
}

/* HOME > ABOUT SECTION > OUTLINE ARTICLE */
.hm-outline-article {
  max-width: 900px;
  margin: 0 auto;
  padding: 71px 20px 0;
}
.hm-outline-article > h1 {
  font-family: "europa", sans-serif;
  font-size: 2.5rem;
  color: #7a7a7a;
  font-weight: 700;
  display: inline-block;
  margin-right: 20px;
}
.hm-outline-article > h4 {
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.hm-outline-article .msg {
  display: inline-block;
}
.hm-outline-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 40px;
  row-gap: 10px;
}
.hm-outline-grid > p {
  padding: 18px 0;
  text-align: center;
  font-weight: 600;
  line-height: 1.65;
  background-color: #fff;
  border-radius: 10px;
}
.hm-outline-grid > p > span {
  font-family: "europa", sans-serif;
  font-size: calc(17 / 16 * 1rem);
  font-weight: 700;
}
.hm-outline-grid .left {
  margin-right: 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.hm-outline-grid .right {
  padding: 20px 64px 20px 15px;
  text-align: start;
}
@media screen and (max-width: 768px) {
  .hm-outline-grid {
    margin-top: 20px;
  }
  .hm-outline-grid > p {
    font-size: calc(14 / 16 * 1rem) 0.875rem;
  }
  .hm-outline-grid .left {
    padding: 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .hm-outline-article > h1 {
    font-size: calc(30 / 16 * 1rem);
  }
}

/* HOME CONTACT SECTION */
.hm-contact-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 20px;
}
.hm-contact-section {
  border: solid 2px #feca00;
  border-radius: 20px;
  background-color: #fffbef;
  position: relative;
  height: 100%;
  z-index: 10;
  padding: 84px 0 62px;
}
.hm-contact-cards-ctnr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 48px;
}
.hm-contact-section .exit-btn {
  width: 50px;
  position: absolute;
  top: -25px;
  right: -25px;
}
.hm-contact-cards-ctnr > h2 {
  position: absolute;
  font-family: "europa", sans-serif;
  font-size: 5rem;
  color: #feca00;
  top: 0;
  transform: translateY(-65%);
  font-weight: 700;
  padding: 0 20px;
}
.hm-contact-cards-ctnr > span {
  display: block;
  height: 10px;
  background-color: #fffbef;
  transform: translateY(-11px);
}
.hm-contact-cards-ctnr .no-border {
  height: 5px;
  max-width: 440px;
  width: 100%;
  background: #fffbef;
  display: block;
  position: absolute;
  top: -1.5px;
}
.hm-contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 160px;
}
.hm-contact-card .icon-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
}
.hm-contact-card .icon-group .circle {
  position: absolute;
  width: 120px;
  height: 120px;
}
.hm-contact-card .icon-group .icon {
  position: absolute;
  max-height: 55px;
}
.hm-contact-card p {
  margin-top: 4px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.75rem;
  line-height: 1.4;
  text-align: center;
}
.hm-contact-card span {
  color: #fea601;
}
.hm-contact-text {
  max-width: 640px;
  margin: 0 auto;
  font-size: 0.875rem;
  line-height: 1.75;
  font-weight: 600;
  padding: 40px;
}
.hm-contact-text > span {
  font-family: "europa", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
}
.hm-contact-ctnr {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 700px;
  margin: 0 auto;
}
.hm-contact-main-button {
  flex: 4;
  background-color: #feca01;
  max-height: 80px;
  text-align: center;
  padding: 28px 0;

  font-family: "Noto Sans JP", sans-serif;
  font-size: calc(15 / 16 * 1rem);
  font-weight: 700;
  border-radius: 40px;
  position: relative;
}
.hm-contact-main-button::after {
  content: "";
  background-image: url(../images/index/contact/right_arrow_3.png);
  height: 30px;
  width: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.hm-phnum-line {
  flex: 3;
  display: flex;
  margin: 10px 0;
  gap: 10px;
  align-items: center;
}
.hm-phnum-line p {
  font-family: "europa", sans-serif;
  font-size: calc(30 / 16 * 1rem);
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .hm-contact-wrapper {
    padding: 71px 20px 80px;
  }
  .hm-contact-section {
    padding: 51px 0 47px;
  }

  .hm-contact-cards-ctnr > h2 {
    font-size: calc(60 / 16 * 1rem);
  }
  .hm-contact-cards-ctnr .no-border {
    max-width: 357px;
  }
  .hm-contact-section .exit-btn {
    display: none;
  }
  .hm-contact-card {
    max-width: 80px;
  }
  .hm-contact-card .icon-group {
    height: 60px;
  }
  .hm-contact-card .icon-group .circle {
    width: 60px;
    height: 60px;
  }
  .hm-contact-card .icon-group .icon {
    position: absolute;
    max-height: 22px;
  }
  .hm-contact-text {
    font-size: 0.75rem;
    padding: 24px 15px;
  }
  .hm-contact-ctnr {
    flex-direction: column;
    gap: 24px;
    padding: 0 40px;
  }
  .hm-contact-main-button {
    padding: 18px 0 18px 20px;
    text-align: start;
    width: 100%;
  }
  .hm-contact-info > p {
    padding-left: 32px;
    font-weight: 600;
  }
}
@media screen and (max-width: 480px) {
  .hm-contact-cards-ctnr > h2 {
    font-size: 2.5rem;
  }
  .hm-contact-cards-ctnr .no-border {
    max-width: 255px;
  }

  .hm-contact-ctnr {
    padding: 0 15px;
  }
}

/* HOME NEWS SECTION */
.hm-news-section-wrapper {
  background-color: #f5f5f5;
  padding: 80px 20px 100px;
}
.hm-news-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}
.hm-news-section > h1 {
  font-family: "europa", sans-serif;
  font-size: 5rem;
  color: #fbca00;
  font-weight: 700;
  display: inline-block;
  margin-right: 20px;
}
.hm-news-section > h4 {
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.hm-news-section .hor-line {
  height: 3px;
  max-width: 860px;
  width: 100%;
  background-color: #7a7a7a;
  margin: 45px auto 40px;
}
.hm-news-cards-ctnr {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.hm-news-card {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  max-width: 280px;
  width: 100%;
}
.hm-news-card .logo-bg {
  width: 260px;
  height: 180px;
  background: #e8e8e8;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hm-news-card .logo-bg-badge {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 30px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #feca00;
  padding: 10px 0;
  text-align: center;
  font-family: "europa", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
}
.hm-news-card .logo-bg img {
  height: 40px;
}
.hm-news-card .caption {
  margin: 15px 0 10px;
  font-size: 0.875rem;
  line-height: 1.75;
  font-weight: 600;
}
.hm-news-card .date {
  margin: 10px 0;
  font-family: "europa", sans-serif;
  font-size: 0.875rem;
  line-height: 1.75;
  font-weight: 700;
  color: #feca00;
}

.hm-news-btn-wrapper {
  padding: 40px 0 0;
}
.hm-news-btn {
  border-radius: 25px;
  max-width: 300px;
  margin: 0 auto;
  height: 50px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: start;
  padding-left: 20px;
  align-items: center;
  position: relative;
}
.hm-news-btn::after {
  content: "";
  background-image: url(../images/index/contact/right_arrow_3.png);
  height: 30px;
  width: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  filter: invert(1);
}
@media screen and (max-width: 768px) {
  .hm-news-btn-wrapper {
    padding: 36px 0 80px;
  }
  .hm-news-section > h1 {
    font-size: 2.5rem;
  }
  .hm-news-section {
    padding: 0 15px;
  }
  .hm-news-section .hor-line {
    margin: 21px 0 24px;
  }
}



/*=======================
NEWS PAGE
=======================*/
.news-wrapper {
  width: 100%;
  background-color: #F5F5F5;
}
.news-ctnr {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 20px;
}
.news-ctnr > h1 {
  font-family: "europa", sans-serif;
  font-size: 5rem;
  color: #fbca00;
  font-weight: 700;
  display: inline-block;
  margin-right: 20px;
}
.news-ctnr > h4 {
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.news-ctnr .hor-line {
  height: 3px;
  max-width: 860px;
  width: 100%;
  background-color: #fbca00;
  margin: 45px auto 40px;
}

.news-cards-ctnr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 40px;
}
.news-card {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  max-width: 280px;
  width: 100%;
}
.news-card .logo-bg {
  width: 260px;
  height: 180px;
  background: #e8e8e8;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-card .logo-bg-badge {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 30px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #feca00;
  padding: 10px 0;
  text-align: center;
  font-family: "europa", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
}
.news-card .logo-bg img {
  height: 40px;
}
.news-card .caption {
  margin: 15px 0 10px;
  font-size: 0.875rem;
  line-height: 1.75;
  font-weight: 600;
}
.news-card .date {
  margin: 10px 0;
  font-family: "europa", sans-serif;
  font-size: 0.875rem;
  line-height: 1.75;
  font-weight: 700;
  color: #feca00;
}